:root{
	--text-color: #dc9eff;
}
html{
	background-color: #212121;
	color: var(--text-color);
	font-family: "Ubuntu Mono";
	overflow: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	margin: 0px;
}
p, h1, h2, h3{
	transition: color 0.3s, background-color 0.3s;
}
a{
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-color: var(--text-color);
	transition: color 0.3s, background-color 0.3s, text-decoration-color 0.3s;
}
a:hover{
	color: #212121;
	background-color: var(--text-color);
}
::selection{
	color: #212121;
	background-color: var(--text-color);
	transition: color 0.3s, background-color 0.3s;
}
::-moz-selection{
	color: #212121;
	background-color: var(--text-color);
	transition: color 0.3s, background-color 0.3s;
}
#topbar{
	margin: 0;
	left: 0px;
	width: 100%;
	min-height: 24px;
}
#topbar a{
	text-decoration: none;
}
#topbar p{
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	transition: background-color 0.3s;
}
#topbar-links{
	float: right;
}
.topbar-link{
	float: left;
	text-align: left;
	min-width: 180px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	transition: background-color 0.3s;
}
.topbar-path, .inline-path{
	color: #212121;
	transition: background-color 0.3s;
}
#content{
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}
#content h1{
	text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 32px;
}
#content h2{
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 32px;
}
#content p{
	margin-left: 24px;
	margin-right: 24px;
	font-size: 24px;
	max-width: 740px;
}
a:hover + .topbar-path, a:hover + .inline-path{
	background-color: var(--text-color);
}
#botbar{
	padding-top: 32px;
	width: 100%;
	height: 24px;
}
#botbar p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.inline-link{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: -10px;
	margin-left: 60px;
	transition: background-color 0.3s;
}
.images {
	text-align: center;
}