:root {
	--bg-color: #1d2227;

	color: white;
	font-family: "Ubuntu Mono";
}

.label-sweet {
	--my-color: #f2c0ff;
}

.label-sweet.display-tag:after {
	content: "Sweet";
}

#tag-sweet:checked ~ #posts .post:not(.tag-sweet) {
	display: none;
}


.label-salty {
	--my-color: #85a6ff;
}
.label-salty.display-tag:after {
	content: "Salty";
}
#tag-salty:checked ~ #posts .post:not(.tag-salty) {
	display: none;
}

.label-sour {
	--my-color: #ffff85;
}
.label-sour.display-tag:after {
	content: "Sour";
}
#tag-sour:checked ~ #posts .post:not(.tag-sour) {
	display: none;
}

.label-bitter {
	--my-color: #85ff85;
}
.label-bitter.display-tag:after {
	content: "Bitter";
}
#tag-bitter:checked ~ #posts .post:not(.tag-bitter) {
	display: none;
}

.label-savory {
	--my-color: #ff8585;
}
.label-savory.display-tag:after {
	content: "Savory";
}
#tag-savory:checked ~ #posts .post:not(.tag-savory) {
	display: none;
}

input[type=checkbox] {
	border-style: none;
	margin: 20px 0px;
	width: 0px;
	visibility: hidden;
}

.tag {
	padding: 6px;
	border-radius: 16px;
	border-width: 3px;
	font-weight: bold;
	border-style: solid;
	user-select: none;
	cursor: pointer;
	color: var(--my-color);
	border-color: var(--my-color);
	transition: background-color 0.3s, color 0.3s;
}

input:checked + .tag {
	color: var(--bg-color) !important;
	background-color: var(--my-color);
}

.post {
	margin-bottom: 20px;
}

.display-tags {
	margin-top: 8px;
}

.display-tag {
	padding: 4px;
	border-radius: 6px;
	background-color: var(--my-color);
	color: var(--bg-color);
}

body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-color);
}