:root {
	--bg-color: #101214;
	--text-color: white;
	--text: var(--text-color);
	--date: #bebebe;
	--link: #dc9eff;
	--code: #1b1c1d;
	--tr-odd: #20252b;
	--tr-even: #181d22;
}

::selection {
	color: var(--bg-color);
	background-color: var(--text);
}

* {
	color: var(--text);
}

body {
	font-family: "Ubuntu Mono";
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-color);
	padding: 24px;
}

h1 {
	text-align: center;
}

p, ol, ul {
	font-family: "Fira Sans";
	font-size: large;
	line-height: 1.4;
}

li {
	margin-top: 10px;
}

code {
	font-family: "Ubuntu Mono";
	background-color: var(--code);
	padding: 2px 4px;
}

pre {
	background-color: var(--code);
	font-size: large;
	font-family: "Ubuntu Mono";
	line-height: 1.2;
	overflow-x: auto;
	padding: 8px;
}

.keyword {
	--text: #569cd6;
}

.string {
	--text: #ce9178;
}

.type {
	--text: #4ec9b0;
}

.field {
	--text: #9cdcfe;
}

.method {
	--text: #dcdcaa;
}

a {
	--text: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--bg-color);
	background-color: var(--link);
}

table {
	border-spacing: 0px;
	width: 100%;
	margin-bottom: 8px;
}

thead {
	text-align: center;
}

td {
	padding: 10px 8px;
}

tr {
	background-color: var(--tr-odd);
}

tr:nth-child(2n), thead tr {
	background-color: var(--tr-even);
}

.post {
	margin-top: 20px;
	padding-bottom: 20px;
}

.post-title {
	font-weight: bold;
	font-size: large;
	margin-bottom: 8px;
}

.post-title a {
	--text: var(--text-color);
}

.post a:hover {
	color: var(--bg-color);
	background-color: var(--text);
}

.post-description {
	font-size: medium;
	margin-bottom: 8px;
}

.post-footer {
	--text: var(--date);
	font-size: medium;
}

.post-footer a {
	--text: var(--date);
}

#clear-tag {
	padding-top: 8px;
	visibility: hidden;
}

.current-tag {
	display: none;
}

.current-tag-placeholder {
	visibility: hidden;
}

:target {
	display: inline !important;
}

:target ~ .current-tag-placeholder {
	display: none;
}

:target ~ #clear-tag {
	visibility: visible;
}

#programming:target ~ #posts .post:not(.programming) {
	display: none;
}

#minecraft:target ~ #posts .post:not(.minecraft) {
	display: none;
}
