
* {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	min-width: 1150px;
	overflow: hidden;
	user-select: none;
	background-color: #1e272e;
}

#dragged, #dragged-mirrored {
	position: absolute;
	z-index: 150;
}

#board {
	padding: 20px;
	width: fit-content;
	margin: auto;
}

#bottom {
	margin-top: 40px;
	gap: 14px;
}

#seed {
	visibility: hidden;
	position: absolute;
	color: white;
	text-align: center;
	bottom: 40px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}

footer {
	display: flex;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 20px;
	height: 90px;
	width: 100%;
}

#instructions {
	margin: 10px;
	border: 4px solid #ffffffaa;
	padding: 8px;
	color: #ffffffaa;
	cursor: pointer;
	transition: border 0.2s, color 0.2s;
}

#instructions:hover {
	border: 4px solid #0077ffaa;
	color: #0077ffaa;
}

#wins {
	margin: 10px;
	border: 4px solid #ffffffaa;
	padding: 8px;
	color: #ffffffaa;
}

#moving-card, #mirrored-moving-card {
	position: absolute;
	visibility: hidden;
	z-index: 200;
}

.slot-spacer {
	display: inline-block;
	width: 112px;
}

.mirror-spacer {
	display: inline-block;
	width: 40px;
}

slot {
	display: inline-block;
	width: 92px;
	height: 162px;
	background-color: #0b1a24;
	border-radius: 4px;
}

card {
	display: block;
	position: relative;
	width: 84px;
	height: 154px;
	/* border-radius: 16px; */
	border-width: 4px;
	border-style: solid;
	background-color: #ffffff;
}

card > card {
	margin-top: 44px;
	margin-left: -4px;
}

card[suit="composition"] {
	color: #97fc9f;
	border-color: #30f240;
	background-color: #202820;
}

card[suit="composition"] > face > img {
	filter: invert(88%) sepia(11%) saturate(1385%) hue-rotate(67deg) brightness(99%) contrast(102%);
}

card[suit="narrative"] {
	color: #fccab0;
	border-color: #d88256;
	background-color: #24201e;
}

card[suit="narrative"] > face > img {
	filter: invert(80%) sepia(31%) saturate(568%) hue-rotate(319deg) brightness(105%) contrast(101%);
}

card[suit="performance"] {
	color: #b4a5ff;
	border-color: #5a41d8;
	background-color: #1e1d24;
}

card[suit="performance"] > face > img {
	filter: invert(63%) sepia(92%) saturate(1188%) hue-rotate(203deg) brightness(104%) contrast(101%);
}

card[suit="cerulean"] {
	color: #9d9efc;
	border-color: #3a3ce8;
	background-color: #1f1f26;
}

card[suit="cerulean"] > face > img {
	filter: invert(74%) sepia(10%) saturate(4346%) hue-rotate(196deg) brightness(90%) contrast(123%);
}

card[suit="viridian"] {
	color: #9afcd4;
	border-color: #26a874;
	background-color: #161c19;
}

card[suit="viridian"] > face > img {
	filter: invert(94%) sepia(6%) saturate(1970%) hue-rotate(89deg) brightness(96%) contrast(105%);
}

card[suit="rose"] {
	color: #fc9abe;
	border-color: #a82656;
	background-color: #1c1618;
}

card[suit="rose"] > face > img {
	filter: invert(78%) sepia(100%) saturate(2808%) hue-rotate(282deg) brightness(100%) contrast(94%);
}

card[suit="lilac"] {
	color: #eed1fc;
	border-color: #cb98e2;
	background-color: #242225;
}

card[suit="lilac"] > face > img {
	filter: invert(84%) sepia(17%) saturate(432%) hue-rotate(228deg) brightness(96%) contrast(106%);
}

card[suit="ash"] {
	color: #fcf8f8;
	border-color: #444242;
	background-color: #0b0b0b;
}

card[suit="ash"] > face > img {
	filter: invert(96%) sepia(86%) saturate(213%) hue-rotate(1deg) brightness(120%) contrast(97%);
}

card[suit="chartreuse"] {
	color: #e8ffac;
	border-color: #97b740;
	background-color: #1d1e19;
}

card[suit="chartreuse"] > face > img {
	filter: invert(91%) sepia(20%) saturate(633%) hue-rotate(28deg) brightness(105%) contrast(102%);
}

card[suit="turquoise"] {
	color: #b3cffc;
	border-color: #5d90dd;
	background-color: #1f2124;
}

card[suit="turquoise"] > face > img {
	filter: invert(70%) sepia(33%) saturate(317%) hue-rotate(181deg) brightness(108%) contrast(98%);
}

face {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 64px;
	height: 64px;
	margin: auto;
}

face img {
	margin: auto;
	width: 64px;
	height: 64px;
}

card-header, card-footer {
	position: absolute;
}

card-header {
	top: -4px;
	left: 6px;
}

card-footer {
	right: 6px;
	bottom: -4px;
	transform: rotate(180deg)
}

#mirror-visual {
	position: absolute;
	height: 100%;
	top: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
	width: 4px;
	background-color: #ffffffaa;
}

#instruction-overlay {
	z-index: 500;
	position: absolute;
	color: white;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000000aa;
}

#instruction-content {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: auto;
}

.instruction-text {
	padding: 10px;
	text-align: center;
	width: 480px;
	height: 200px;
}

.instruction-cards {
	display: flex;
	width: 500px;
	height: 450px;
	justify-content: center;
}

.instruction-cards > slot {
	margin: 10px;
}
