:root {
	--background: #222222;
	--grouping-background: #111111;
	--box-background: #333333;
	--text: #eeeeee;
	--crit-text: #e59393;

	--search-suggestion: #181818;
	--search-suggestion-hover: #282828;

	--stat-bar-back: #444444;

	--ohko: #d84a4a;
	--thko: #c3d84a;

	--speed-faster: #3cd9f5;
	--speed-tied: #ecdf68;
	--speed-slower: #d47070;

	--high-switch-priority: var(--speed-faster);
	--low-switch-priority: var(--speed-slower);

	--highlighted: #49adff;
	--dupe-background: #531414;

	--stat-bar-fill-terrible: #ec6868;
	--stat-bar-fill-mediocre: #ecb768;
	--stat-bar-fill-decent: #98ec68;
	--stat-bar-fill-great: #3cf57a;
	--stat-bar-fill-amazing: #3c86f5;

	--any: #a2d891;
	--day: #61b1d6;
	--night: #432f70;
	--morning: #d3c264;
}

html {
	background-color: var(--background);
	color: var(--text);
	font-family: "Ubuntu Mono";
	font-size: 24px;
}

body {
	padding-left: calc(50% - 520px);
	padding-right: calc(50% - 520px);
}

img {
	display: block;
}

button, select {
	padding: 2px;
	font-family: "Ubuntu Mono";
	font-size: 16px;
	color: var(--text);
	background-color: var(--box-background);
	border-style: solid;
	border-color: var(--grouping-background);
	cursor: pointer;
}

button:hover, select:hover {
	color: var(--highlighted) !important;
}

#tab-selection {
	margin-bottom: 10px;
}

#tab-selection button {
	font-size: 24px;
}

img {
	image-rendering: pixelated;
}

input {
	font-family: "Ubuntu Mono";
	font-size: 20px;
	color: var(--text);
	background-color: var(--box-background);
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
}

summary:hover {
	cursor: pointer;
	color: var(--highlighted);
}

input[type=number] {
	width:50px;
}

input[type="checkbox"] {
	display: none;
}

.fake-checkbox {
	display: inline-block;
	width: 23px;
	height: 23px;
	background-color: var(--box-background);
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
	cursor: pointer;
	margin-top: 3px;
}

input:checked + .fake-checkbox {
	background-color: var(--highlighted);
}

.poke-link:hover {
	cursor: pointer;
	color: var(--highlighted);
}

.extra-info:hover {
	cursor: help;
	color: var(--highlighted);
}

.type {
	text-align: center !important;
	font-weight: bold;
	color: #eeeeee;
	width: 110px;
	padding: 4px !important;
	margin: 4px !important;
	text-shadow: 2px 2px black;
}

.speed-indicator {
	text-align: center;
	font-size: 40px;
	font-weight: 900;
}

#player .speed-indicator {
	float: left;
}

.speed-faster {
    transform: rotate(90deg);
	color: var(--speed-faster);
}

.speed-tied {
	color: var(--speed-tied);
}

.speed-slower {
    transform: rotate(-90deg);
	color: var(--speed-slower);
}

.move-table td {
	padding: 0px 30px;
}

.move-emblem {
	display: inline-block;
	min-width: 14px;
	min-height: 14px;
	margin-right: 4px;
}

#search {
	position: relative;
	margin: 30px;
}

#search-box {
	width: 100%;
	height: 40px;
	font-size: 24px;
	color: var(--text);
	background-color: var(--box-background);
}

#search-box:focus ~ #search-suggestions {
	display: block;
}

#search-suggestions {
	display: none;
	position: absolute;
	width: 100%;
}

.search-suggestion {
	height: 40px;
	background-color: var(--search-suggestion);
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.search-suggestion:hover {
	background-color: var(--search-suggestion-hover);
}

.stat-bar {
	width: 300px;
	height: 20px;
	background-color: var(--stat-bar-back);
}

.full-stat-bar {
	width: 40%;
	height: 100%;
	padding: 0px;
	margin: 0px !important;
}

.tab {
	display: none;
}

#full-encounter, #full-move {
	padding: 10px;
	background-color: var(--box-background);
}

#full-move td {
	padding: 0px 10px;
}

.encounter-poke {
	background-color: var(--grouping-background);
	padding: 10px;
	width: 112px;
	text-align: center;
	margin: 2px;
}

.dupe-encounter {
	background-color: var(--dupe-background) !important;
}

.encounter-poke img {
	width: 112px;
	height: 112px;
	margin-right: 20px;
}

.learnset-pool {
	display: flex;
	flex-wrap: wrap;
}

.encounter-pool {
	padding: 8px;
	width: min-content;
}

.any-pool {
	background-color: var(--any);
}

.day-pool {
	background-color: var(--day);
}

.night-pool {
	background-color: var(--night);
}

.morning-pool {
	background-color: var(--morning);
}

.pokemon-display {
	padding: 20px;
	background-color: var(--box-background);
}

.pokemon-display div {
	display: block;
	margin: 5px;
}

.poke-icon img {
	width: 224px;
	height: 224px;
	min-width: 224px;
	min-height: 224px;
	margin-top: 10px;
}

.poke-title {
	height: 54px;
}

.poke-stats table td {
	padding: 0px;
	min-width: 46px;
}

.poke-stats table {
	border-spacing: 0px;
}

#box-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

#box-pokes .tiny-poke {
	margin: 10px;
}

.rolls {
	z-index: 1000;
	position: absolute;
	left: calc(50% - 175px);
	top: 200px;
	width: 350px;
	background-color: var(--box-background);
	border-style: solid;
	border-color: var(--grouping-background);
	border-width: 4px;;
	display: none;
	pointer-events: none;
	float: none !important;
	color: var(--text);
}

.rolls h1 {
	font-size: 24px;
}

.rolls p {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 0px;
}

*:hover > .rolls {
	display: block;
}

#trainers {
	overflow-y: scroll;
	height: 100vh;
}

.trainer {
	background-color: var(--grouping-background);
	margin: 10px 0px;
	padding: 4px;
}

.trainer-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}

.trainer-pokes .tiny-poke {
	margin: 10px;
}

#tiny-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

#tiny-pokes .tiny-poke {
	margin: 10px;
}

.tiny-poke {
	width: 450px;
	display: flex;
	padding: 4px;
	background-color: var(--box-background);
}

.tiny-poke-icon img {
	image-rendering: pixelated;
	width: 112px;
	height: 112px;
	min-width: 112px;
	min-height: 112px;
	margin-right: 10px;
}

.tiny-poke-info {
	display: block;
	font-size: 20px;
}

.tiny-poke-info table {
	margin-top: 4px;
}

.tiny-poke-info td {
	min-width: 10px;
}

#calc {
	overflow: auto;
}

#player, #opponent, #edited-poke, #edit-fields {
	width: 470px;
	padding: 20px;
	background-color: var(--box-background);
}

#player img, #edited-poke img {
	transform: scaleX(-1);
}

#player {
	float: left;
}

#opponent {
	float: right;
}

#opponent div {
	float: right;
	clear: both;
}

.calc-stats table td {
	padding: 0px 10px;
}

.calc-stats table {
	border-spacing: 3px;
}

#opponent .fake-checkbox {
	float: right;
}

#player .fake-checkbox {
	float: left;
}

.move-calcs {
	text-align: center;
}

.move-calcs td {
	padding: 0px 6px;
	border-width: 3px;
	border-style: dashed;
	border-color: transparent;
	height: 50px;
	min-width: 140px;
	max-width: 140px;
}

.rolls td {
	min-width: 0px !important;
	height: unset !important;
}

rt {
	font-size: 16px;
	border-width: 3px;
}

.crit {
	color: var(--crit-text);
}

.thko {
	border-color: var(--thko) !important;
}

.ohko {
	border-color: var(--ohko) !important;
}

.calc-team {
	display: flex;
	flex-wrap: wrap;
}

.calc-team div {
	background-color: var(--background);
	padding: 5px;
	margin: 2px;
}

.calc-team img {
	border-width: 3px;
	border-style: dashed;
	border-color: transparent;
}

.low-switch-priority {
	border-left-color: var(--low-switch-priority) !important;
	border-right-color: var(--low-switch-priority) !important;
	border-bottom-color: var(--low-switch-priority) !important;
}

.high-switch-priority {
	border-left-color: var(--high-switch-priority) !important;
	border-right-color: var(--high-switch-priority) !important;
	border-top-color: var(--high-switch-priority) !important;
}