:root {
	--background: #222222;
	--grouping-background: #111111;
	--box-background: #333333;
	--text: #eeeeee;
	--crit-text: #e59393;

	--search-suggestion: #181818;
	--search-suggestion-hover: #282828;

	--stat-bar-back: #444444;

	--ohko: #d84a4a;
	--thko: #c3d84a;

	--speed-faster: #3cd9f5;
	--speed-tied: #ecdf68;
	--speed-slower: #d47070;

	--high-switch-priority: var(--speed-faster);
	--low-switch-priority: var(--speed-slower);

	--highlighted: #49adff;
	--dupe-background: #531414;
	--dupe-text: var(--crit-text);

	--stat-bar-fill-terrible: #ec6868;
	--stat-bar-fill-mediocre: #ecb768;
	--stat-bar-fill-decent: #98ec68;
	--stat-bar-fill-great: #3cf57a;
	--stat-bar-fill-amazing: #3c86f5;

	--gender-unknown: #4b4b4b;
	--gender-male: #3099f0;
	--gender-female: #f79dff;

	--any: #a2d891;
	--day: #61b1d6;
	--night: #432f70;
	--morning: #d3c264;

	--route: #e4cb7b;
	--route-dark: #b19d5c;
	--route-darker: #968344;
	--route-light: #f8e194;
	--town: #3e6ff5;
	--town-dark: #2b51b9;
	--town-darker: #1d3c92;
	--town-light: #628bfd;
	--dungeon: #d85778;
	--dungeon-dark: #b44460;
	--dungeon-darker: #8f3149;
	--dungeon-light: #f8809e;
}

html {
	background-color: var(--background);
	color: var(--text);
	font-family: "Ubuntu Mono";
	font-size: 24px;
}

lb {
	display: block;
	height: 10px;
}

a {
	color:var(--stat-bar-fill-amazing);
}

body {
	padding-left: calc(50% - 516px);
	padding-right: calc(50% - 516px);
	min-width: 1024px;
	overflow-y: scroll;
}

img {
	display: block;
}

button, select, .fake-file-upload {
	padding: 2px;
	font-family: "Ubuntu Mono";
	font-size: 16px;
	color: var(--text);
	background-color: var(--box-background);
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
	cursor: pointer;
}

button:hover, select:hover {
	color: var(--highlighted) !important;
}

button:disabled {
	color: var(--crit-text);
	visibility: hidden;
}

h6, .h6 {
	font-weight: bold;
	font-size: 26px;
	margin: 8px 0px;
}

.tab-header {
	display: flex;
	flex-wrap: wrap;
}

.tab-button {
	display: inline-block;
	font-size: 26px;
	padding: 6px;
	background-color: var(--box-background);
	border-color: var(--grouping-background);
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	min-width: 100px;
	text-align: center;
}

.tab-button:hover {
	color: var(--highlighted);
}

.tab-button > img {
	display: inline-block;
	pointer-events: none;
	margin-right: 4px;
}

.selected-tab-button {
	background-color: var(--background);
}

.tab-body {
	display: block;
	padding-top: 10px;
}

.tab-contents {
	display: none;
}

.scroll-padding-anchor {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: calc(100vh - 60px);
}

#top-bar {
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	margin-bottom: 10px;
}

#top-bar button {
	font-size: 24px;
}

#tab-selection {
	display: flex;
	gap: 12px;
	width: 100%;
}

#tab-select-right {
	margin-left: auto;
}

.vs-recorder-polling {
	border-color: var(--speed-tied);
}

.vs-recorder-disconnected {
	border-color: var(--speed-slower);
	color: var(var(--speed-slower));
}

#history {
	display: block;
	overflow: hidden;
	position: absolute;
	margin-top: 48px;
	left: calc(50% + 532px);
	right: 18px;
	max-height: 404px;
}

#history button {
	display: block;
	font-size: 16px;
	margin-bottom: 4px;
}

img {
	image-rendering: pixelated;
}

input {
	font-family: "Ubuntu Mono";
	font-size: 20px;
	color: var(--text);
	background-color: var(--box-background);
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
}

summary:hover {
	cursor: pointer;
	color: var(--highlighted);
}

input[type=number] {
	width: 50px;
}

input[type="checkbox"], input[type="file"] {
	display: none;
}

.fake-checkbox {
	display: inline-block;
	width: 23px;
	height: 23px;
	background-color: var(--box-background);
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
	cursor: pointer;
	margin-bottom: 0px;
}

input:checked + .fake-checkbox {
	background-color: var(--highlighted);
}

.poke-link:hover {
	cursor: pointer;
	color: var(--highlighted);
}

.extra-info:hover {
	cursor: help;
	color: var(--highlighted);
}

.poke-types {
	display: flex;
	gap: 4px;
}

.type {
	cursor: pointer;
	text-align: center !important;
	font-weight: bold;
	color: #eeeeee;
	width: 102px;
	padding: 4px !important;
	margin: 4px 0px !important;
	text-shadow: 2px 2px black;
}

.speed-indicator {
	text-align: center;
	font-size: 40px;
	font-weight: 900;
}

.speed-indicator div {
	display: inline-block;
}

.has-priority {
	font-size: 24px;
	vertical-align: top;
}

#player .speed-indicator {
	float: left;
}

.speed-faster {
    transform: rotate(90deg);
	color: var(--speed-faster);
}

.speed-tied {
	color: var(--speed-tied);
}

.speed-slower {
    transform: rotate(-90deg);
	color: var(--speed-slower);
}

.move-table td {
	padding: 0px 30px;
}

.move-emblem {
	display: inline-block;
	min-width: 14px;
	min-height: 14px;
	margin-right: 4px;
}

.poke-gender {
	font-size: 16px;
}

#search {
	position: relative;
	margin: 30px;
}

#search-box {
	width: 100%;
	height: 40px;
	font-size: 24px;
	color: var(--text);
	background-color: var(--box-background);
}

#search-box:focus ~ #search-suggestions {
	display: block;
}

#search-suggestions {
	display: none;
	position: absolute;
	width: 100%;
}

.search-suggestion {
	height: 40px;
	background-color: var(--search-suggestion);
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.search-suggestion:hover {
	background-color: var(--search-suggestion-hover);
}

.stat-bar {
	width: 300px;
	height: 20px;
	background-color: var(--stat-bar-back);
}

.full-stat-bar {
	width: 40%;
	height: 100%;
	padding: 0px;
	margin: 0px !important;
}

.gender-bar {
	display: inline-block;
	width: 200px;
	height: 20px;
	margin-bottom: -2px;
}

.unknown-gender {
	background-color: var(--gender-unknown);
}

.poke-encounters {
	border-spacing: 16px 4px;
}

.poke-encounters-dupe {
	color: var(--dupe-text);
}

.poke-encounters-percentage {
	display: inline-block;
	width: 80px;
	text-align: center;
}

.tab {
	display: none;
}

#settings .fake-checkbox {
	margin-bottom: -6px;
}

#settings, #full-encounter, #full-move, #full-item, #full-trainer, #full-type {
	padding: 10px;
	background-color: var(--box-background);
}

#full-move td {
	padding: 0px 10px;
}

.item-icon {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: -5px;
}

.encounter-poke {
	background-color: var(--grouping-background);
	padding: 10px;
	width: 112px;
	text-align: center;
	margin: 2px;
}

.dupe-encounter {
	background-color: var(--dupe-background) !important;
}

.encounter-poke img {
	width: 112px;
	height: 112px;
	margin-right: 20px;
}

.encounter-poke:hover .wild-calc {
	display: block;
}

.wild-calc {
	display: none;
	position: relative;
	top: -28px;
	margin-bottom: -27px;
}

.learnset-pool {
	display: flex;
	flex-wrap: wrap;
}

.encounter-pool {
	padding: 8px;
	width: fit-content;
	max-width: 952px;
}

.any-pool {
	background-color: var(--any);
}

.day-pool {
	background-color: var(--day);
}

.night-pool {
	background-color: var(--night);
}

.morning-pool {
	background-color: var(--morning);
}

.pokemon-display {
	padding: 20px;
	background-color: var(--box-background);
}

.pokemon-display > div, .pokemon-display .poke-stats, .pokemon-display .poke-stats div {
	display: block;
	margin: 5px;
}

.poke-icon img {
	width: 224px;
	height: 224px;
	min-width: 224px;
	min-height: 224px;
	margin-top: 10px;
}

.poke-title {
	column-width: 100px;
	border-spacing: 0px;
	height: 88px;
}

.poke-title td:first-child {
	width: 200px;
}

.poke-title tr {
	height: 28px;
}

#opponent .poke-title {
	float: right;
	text-align: right;
}

.poke-stats table td {
	padding: 0px;
	min-width: 46px;
}

.poke-stats table {
	border-spacing: 0px;
}

#box-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	gap: 12px;
}

.poke-usage-statistics .rolls {
	top: auto !important;
	bottom: 40px !important;
}

.selection-menu {
	display: none;
	z-index: 100;
	position: absolute;
	padding: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
	background-color: var(--box-background);
}

.visible-selection-menu {
	display: block !important;
}

#item-menu td {
	width: unset;
}

.rolls {
	z-index: 1000;
	position: absolute;
	left: calc(50% - 175px);
	top: 200px;
	width: 350px;
	background-color: var(--box-background);
	border-style: solid;
	border-color: var(--grouping-background);
	border-width: 4px;;
	display: none;
	pointer-events: none;
	float: none !important;
	color: var(--text);
}

.rolls h1 {
	font-size: 24px;
}

.rolls p {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 0px;
}

*:hover > .rolls {
	display: block;
}

#trainers {
	overflow-y: scroll;
	height: 100vh;
}

.trainer {
	background-color: var(--grouping-background);
	margin: 10px 0px;
	width: 982px;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
}

.b2b {
	background: repeating-linear-gradient(
		-45deg,
		var(--box-background) 0px,
		var(--box-background) 10px,
		var(--background) 10px,
		var(--background) 20px
	) !important;
	margin: 4px 0px;
	padding: 8px 0px;
}

.b2b + .b2b {
	margin-top: 20px;
}

.trainer-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 4px;
	gap: 10px;
}

#tiny-pokes {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	gap: 10px;
}

.tiny-poke {
	width: 310px;
	display: block;
	padding: 4px;
	background-color: var(--box-background);
	font-size: 20px;
}

.tiny-poke-header {
	display: flex;
}

.tiny-poke-icon img {
	image-rendering: pixelated;
	width: 112px;
	height: 112px;
	min-width: 112px;
	min-height: 112px;
	margin-right: 10px;
}

.tiny-poke-info {
	display: block;
	width: 186px;
}

.tiny-poke-level {
	margin-left: auto;
}

.tiny-poke-moves table {
	margin-top: 4px;
}

.tiny-poke-moves td {
	min-width: 150px;
}

.tiny-poke-types {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

.tiny-poke-types .type {
	display: inline-block;
	width: 86px;
	padding: 1px !important;
	margin: 1px 0px !important;
	text-shadow: 2px 2px black;
}

.type-slices {
	display: flex;
	margin-top: 4px;
	gap: 4px;
}

.type-slice {
	cursor: pointer;
	height: 8px;
	flex-grow: 1;
}

.tiny-poke-dvs {
	font-size: 20px;
}

#calc {
	overflow: auto;
}

#player, #opponent, #edited-poke, #edit-fields {
	width: 470px;
	padding: 20px;
	background-color: var(--box-background);
}

#player img, #edited-poke img {
	transform: scaleX(-1);
}

#player {
	float: left;
}

#opponent {
	float: right;
}

#opponent div {
	float: right;
	clear: both;
}

#opponent .calc-stats {
	text-align: right;
}

.calc-stats table td {
	padding: 0px 10px;
}

.calc-stats table {
	border-spacing: 3px;
}

#opponent .fake-checkbox {
	float: right;
}

#player .fake-checkbox {
	float: left;
}

.move-calcs {
	text-align: center;
}

.move-calc {
	padding: 0px 0px;
	border-width: 3px;
	border-style: dashed;
	border-color: transparent;
	height: 50px;
	min-width: 152px;
	max-width: 152px;
}

.move-calc-variants {
	float: none !important;
	display: flex;
	width: auto;
	height: 8px;
	margin-top: 4px;
	margin-bottom: -12px;
	gap: 4px;
}

.move-calc-variant {
	cursor: pointer;
	border-radius: 3px;
	background-color: var(--gender-unknown);
	flex-grow: 1;
}

.move-calc-variant-selected {
	background-color: var(--highlighted);
}

.rolls {
	padding-bottom: 8px;
}

.rolls td {
	padding: 0px 6px;
	font-size: 16px;
}

.rolls .move-calc {
	text-align: center;
	font-size: 20px;
}

rt {
	font-size: 16px;
	border-width: 3px;
}

#weather {
	position: absolute;
	left: calc(max(0px, calc(50% - 512px)) + 448px);
	margin-top: 4px;
	width: 128px;
	padding: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--grouping-background);
	background-color: var(--box-background);
	text-align: center;
}

.crit {
	color: var(--crit-text);
}

.thko {
	border-color: var(--thko) !important;
}

.ohko {
	border-color: var(--ohko) !important;
}

.calc-team {
	display: flex;
	flex-wrap: wrap;
}

.calc-team div {
	background-color: var(--background);
	padding: 5px;
	margin: 2px;
}

.calc-team img {
	border-width: 3px;
	border-style: dashed;
	border-color: transparent;
}

.low-switch-priority {
	border-left-color: var(--low-switch-priority) !important;
	border-right-color: var(--low-switch-priority) !important;
	border-bottom-color: var(--low-switch-priority) !important;
}

.high-switch-priority {
	border-left-color: var(--high-switch-priority) !important;
	border-right-color: var(--high-switch-priority) !important;
	border-top-color: var(--high-switch-priority) !important;
}

#map {
	background-color: var(--box-background);
	padding: 24px;
	height: fit-content;
}

.minimap {
	position: relative;
	overflow: hidden;
	background-color: var(--background);
}

.encounter-minimap {
	float: right;
	clear: right;
	margin: 8px;
	padding: 8px;
	background-color: var(--grouping-background);
}

.landmark {
	position: absolute;
	border-color: #00000085;
	border-style: solid;
	cursor: pointer;
	background-color: var(--landmark-color);

	--landmark-color: var(--dungeon);
	--dark-landmark-color: var(--dungeon-dark);
	--darker-landmark-color: var(--dungeon-darker);
	--light-landmark-color: var(--dungeon-light);
}

.landmark:hover {
	background-color: var(--light-landmark-color);
}

.landmark-focused {
	border-color: #8d3ee7;
}

.landmark-route {
	--landmark-color: var(--route);
	--dark-landmark-color: var(--route-dark);
	--darker-landmark-color: var(--route-darker);
	--light-landmark-color: var(--route-light);
}

.landmark-town {
	--landmark-color: var(--town);
	--dark-landmark-color: var(--town-dark);
	--darker-landmark-color: var(--town-darker);
	--light-landmark-color: var(--town-light);
}

.landmark-caught {
	background: repeating-linear-gradient(
		-45deg,
		var(--dark-landmark-color) 0px,
		var(--dark-landmark-color) 10px,
		var(--darker-landmark-color) 10px,
		var(--darker-landmark-color) 20px
	) !important;
}

.landmark-caught:hover {
	background: repeating-linear-gradient(
		-45deg,
		var(--landmark-color) 0px,
		var(--landmark-color) 10px,
		var(--dark-landmark-color) 10px,
		var(--dark-landmark-color) 20px
	) !important;
}

.poke-usage-statistics {
	background: var(--background);
	padding-right: 8px;
	padding-top: 8px;
	width: 940px;
	height: 400px;
}

.poke-usage-statistics-inner {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px !important;
	margin-top: 8px;
	margin-right: 8px;
}

.e4r1 {
	background: var(--grouping-background) !important;
}

.poke-statistics-line {
	background: var(--box-background);
	position: absolute;
	top: -4px;
	bottom: 4px;
	width: 4px;
	position: absolute;
	margin: 0px !important;
	cursor: pointer;
}

.usage-point {
	background: var(--any);
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	margin: 0px !important;
	cursor: pointer;
}

.poke-statistics-line:hover, .usage-point:hover {
	background: var(--highlighted) !important;
}

#info-popup {
	pointer-events: none;
	position: fixed;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
}

#info-popup > div {
	pointer-events: all;
	cursor: pointer;
	position: absolute;
	right: -200%;
	bottom: 40px;
	padding: 8px;
	border-color: var(--grouping-background);
	border-width: 4px;
	border-style: solid;
	background-color: var(--box-background);
	animation-name: disappear;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
}

@keyframes disappear {
	0% {
		right: 40px;
	}
	60% {
		right: 40px;
	}
	100% {
		right: -200%;
	}
}

.save-error {
	border-color: #c51f1f !important;
}

.save-success {
	border-color: #28ade2 !important;
}